body {
    margin: 0px;
    background-color: #f5c7c7
}

#header-3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border: 0px;
}

#nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border: 100%;
    color: black;
    border-color: #d4620c;
    font-style: normal;
    font-family: arial-black;
    background-color: #d4620c;
    margin: 0px;
}

#nav {
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

