body {
    margin: 0px;
    background-color: #f5c7c7
}

#header-3 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
}

ul {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: black;
    border: 100%;
    border-color: #d4620c;
    font-style: normal;
    font-family: arial-black;
    background-color: #d4620c;
}

li {
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    width: 1024px;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
}

#delay3 {
    position: relative;
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: 0s;
    font-size: 21px;
}

#delay3:hover {
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: 0s;
    font-size: 36px;
}

#portfolio-text{
    font-family: arial-black;
    margin-left: 35px;
}

#images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #f5c7c7;
    }
    #delay3 {
    position: relative;
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: 0s;
    font-size: 14px;
}
    #delay3:hover {
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: 0s;
    font-size: 18px;
    }
    #images {
    display: flex;
    justify-content: space-around;
    align-items: center;
        uh
    Width: 300px;
}
}

