body {
    margin: 0px;
    width: 1024px;
    background-color: #f5c7c7
}

#header-3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
}

ul {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: black;
    border: 100%;
    border-color: #d4620c;
    font-style: normal;
    font-family: arial-black;
    background-color: #d4620c;
}

li {
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
}

#delay3 {
    position: relative;
    transition-property: font-size;
    transition-duration: 5s;
    transition-delay: 1s;
    font-size: 21px;
}

#delay3:hover {
    transition-property: font-size;
    transition-duration: 5s;
    transition-delay: 1s;
    font-size: 36px;
}

#portfolio-text{
    font-family: arial-black;
    margin-left: 35px;
}

#images {
    display: flex;
    margin-left: 35px;
    justify-content: space-between;
    margin-right: 35px;
}



